.table_theme_dark {
    margin-top: 80px;
    display: flex;
    width: 1100px;
    justify-content: space-between;
    align-items: flex-start;
    list-style-type: none;
    z-index: 2;
    margin: 0;
    flex-wrap: nowrap;
  }